@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
   --breakpoint-xxs: 20rem;
   --breakpoint-xs: 25rem;
   --breakpoint-xmd: 54.75rem;
   --breakpoint-xxl: 93.75rem;

   --font-montserrat: "Montserrat", sans-serif;
   --font-bebas: "Bebas Neue", sans-serif;
}

/* Toater font family */
[data-sonner-toaster],
[data-sonner-toast],
[data-sonner-toaster] > div {
    font-family: 'Montserrat', sans-serif;
}

/* Target react-hot-toast container */
#toast-container {
    margin-top: 60px;
}

@media (min-width: 640px) {
    #toast-container {
        margin-top: 80px;
    }
}
@media (min-width: 1024px) {
    #toast-container {
        margin-top: 100px;
    }
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
